<!-- <ion-view view-title="<div style='text-align:center; padding-right:3em;'>Saturday March 21</div>"> -->
<ion-view view-title="Tomorrow" title-align="center">
  <ion-content>
        <ion-refresher on-refresh="doRefresh()">
      </ion-refresher>

  <div class="wrap">
    <!-- Define all of the tiles: -->
    <div class="menu-category-header">
    What's for ...?
    </div>
    <div class="menu-category-header">
    What's in ...?
    </div>
    <div class="box-left">
      <a href="#/app/menus/breakfast">
	      <div class="boxInner">
	        <img src="img/breakfast.jpg">
	        <div class="titleBox">
	          <div class="table">
	            <div class="table-cell">
	              Breakfast
	            </div> 
	          </div>
	        </div>
	      </div>
      </a>
    </div>
    <div class="box">
        <a href="#/app/menus/foss">
	      <div class="boxInner">
	        <img src="img/foss.jpg" />
	        <div class="titleBox">
	           <div class="table">
	            <div class="table-cell">
	              Foss
	            </div> 
	          </div>
	        </div>
	      </div>
	    </a>
    </div>
    <div class="box-left">
    	<a href="#/app/menus/lunch">
	      <div class="boxInner">
	        <img src="img/lunch.jpg" />
	        <div class="titleBox">
	           <div class="table">
	            <div class="table-cell">
	               Lunch
	             </div> 
	          </div>
	        </div>      
	      </div>
	    </a>
    </div>
    <div class="box">
    	<a href="#/app/menus/dana">
	      <div class="boxInner">
	        <img src="img/dana.jpg" />
	        <div class="titleBox">
	           <div class="table">
	            <div class="table-cell">
	               Dana
	             </div> 
	          </div>
	        </div>      
	      </div>
	    </a>
    </div>
    <div class="box-left">
       	<a href="#/app/menus/dinner">
	      <div class="boxInner">
	        <img src="img/dinner.jpg" />
	        <div class="titleBox">
	           <div class="table">
	            <div class="table-cell">
	               Dinner
	             </div> 
	          </div>
	        </div>      
	      </div>
	    </a>
    </div>
    <div class="box">
       	<a href="#/app/menus/bobs">
	      <div class="boxInner">
	        <img src="img/bobs.jpg" />
	       <div class="titleBox">
	           <div class="table">
	            <div class="table-cell">
	               Bobs
	             </div> 
	          </div>
	        </div> 
	      </div>
	    </a>
    </div>
    <div class = "to-go-header">
    In a hurry?
    </div>
    <div class="box-left">
        <a href="#/app/menus/take4">
	      <div class="boxInner">
	        <img src="img/take4.jpg" />
	       <div class="titleBox">
	           <div class="table">
	            <div class="table-cell">
	               Take 4
	             </div> 
	          </div>
	        </div> 
	      </div>
	    </a>
	    </div>
    <div class="box">
    	<a href="#/app/menus/spa">
	      <div class="boxInner">
	        <img src="img/spa.jpg" />
	       <div class="titleBox">
	           <div class="table">
	            <div class="table-cell">
	               The Spa
	             </div> 
	          </div>
	        </div> 
	      </div>
	    </a>
    </div>
  </div>

  <!-- /#wrap -->
  </ion-content>
</ion-view>
